@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* CONFIGURAÇÕES GLOBAIS */
html, body {
    font-family: var(--font1);
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover {
    text-decoration: underline;
}

/* CABEÇALHO */

header {
    color: white;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
header > h1 {
    font-family: var(--font2);
    font-variant: small-caps;
    font-size: 10vh;
}

/* SEÇÕES */

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 2.5vw;
}

section.normal {
    background-color: white;
    color: black;
}

section.image {
    background: rgb(58, 58, 58);
    color: white;
}
section.image > p {
    display: inline-block;
    padding: 5px;
    background: rgba(0, 0, 0, 0.592);
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 20px;
}